.git
.github
.gitignore
.gitlab-ci.yml
.gitattributes
*.md
node_modules
npm-debug.log
yarn-error.log
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
bootstrap/cache/*
vendor
.env.local
.env.*.local
tests
.editorconfig
.vscode
.idea
.env.production.local
.env.*.local
docker-compose.yml
Dockerfile
.docker
docker
.DS_Store
